/*variable*/
///* Yoga & meditation */
$gradint-color: linear-gradient(87.35deg, #ff328c 38.24%, #ff2558 94.25%);
$primery: #828282;
$secendry: #333333;
$bg-color: linear-gradient(
  236.05deg,
  rgba(243, 242, 242, 0.7) 0%,
  rgba(255, 255, 255, 0) 119.41%
);
